<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <main>
        <section id="about-me">
            <h2>Hakkında</h2>
            <p>Burada kendinizi tanıttığınız metin yer alacak.</p>
        </section>
    </main>

    {% include 'footer.html' %}
</body>
</html>
