<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <!-- Intro Section -->
        <section class="intro">
            <h1>Hello, My Name is Tarkan</h1>
            <p>I am a python developer.</p>
        </section>

        <!-- Projects Section -->
        <section class="projects">
            <h1>My Projects</h1>
            <div class="project-list">
                {% for project in all_projects %}
                <div class="project-item">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.subtitle }}</p>
                    <a href="{{ url_for('show_project', project_id=project.id) }}">Details</a>
                </div>
                {% endfor %}
            </div>
            {% if current_user.id == 1: %}
            <div class="add-project-container">
                <a href="{{ url_for('add_project') }}" class="add-project-btn">Add New Project</a>
            </div>
            {% endif %}
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
